body {
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	overflow: hidden;
}

.nav-main-header a 
{
	font-weight: normal;
}

.notice-box
{
	padding:10%;
	text-align: center;
	line-height: 200%;
}

body
{
	background: url( /assets/img/cover.jpg ) no-repeat ;
}

.center-box
{
	width:50%;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(255, 255, 255, .8);
	padding:20px;
	border-radius: 10px;
	border: 1px solid #333;
}

h1,h3
{
	color:white;
	text-shadow: 1px 1px 0px black;
}

.center-box form
{
	margin-top:20px;
}

#log
{
	height: 200px;
	overflow-y: scroll;
	background-color: black;
	color:white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
}

.action-box
{
	margin-top:100px;
	
}

.action-box a
{
	margin-left:20px;
}
